.content {
    width: 100%;
    height:100vh;
    padding-bottom: 8rem;
    gap:1rem;
    overflow-y:auto;
  }

.options-area{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.progress-bar-area{
  padding-left:4rem;
  padding-right:4rem;
}

  //style the scroll bar so the gutter isnt visible
  /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    visibility:hidden;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-background-surface-default);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-background-surface-hover);
  }

  .center-content{

  }

  .header-area{
      background-color: var(--color-background-surface-header);
      width:100%;
      border-radius: 1rem 1rem 0 0;
  }

  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .content-area{
      padding:1rem;
      padding-left:.5rem;
      padding-right:.5rem;
      max-height: 74vh;
      overflow-y: auto;
  }

  .welcome-card {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.75);
    background-color: var(--color-background-base-default);
    height: 90%;
    border-radius: 1rem;
    margin-right:1rem;
    margin-left:1rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-width:60rem;
  }

  .scrollable-content{
    overflow: auto;
    font-size: 1.25rem;
  }

.scrollable-chat {
  overflow-y: auto;
}

  .disclaimer{
    font-size: 1rem;
    font-style: italic;
    color: var(--color-text-secondary);
  }

  .header-area{
      background-color: var(--color-background-surface-header);
      text-align: center;
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
  }

  .button-area{
      display:flex;
      flex-direction:row;
      justify-content: space-evenly;
      align-items: center;
      padding: 1rem;
      gap:1rem;
    }

  .bottom-area {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-background-surface-default);
    border-top: 1px solid var(--color-background-base-default);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:2;
  }

  .bottom-area ::ng-deep span {
    font-size: 2rem;
  }


 .chat-box-container{

  }

  rux-input {
    flex-grow: 1;
    margin: 0 1rem;
  }

  p-button {
    flex-shrink: 0;
  }

  .chat-content {
    padding-bottom: 70px; // Adjust this value based on the height of your bottom-area
  }

  .scrollable-chat {
    overflow-y: auto;
  }


