<div class="background-image full-height center-content">
  <div class="content">
  </div>
  <div class="bottom-area">
    <p-button icon="pi pi-microphone" styleClass="p-button-rounded p-button-text"  [rounded]="true"></p-button>
    <rux-input 
      placeholder="Ask your military question..." 
      size="large"
      style="flex-grow: 1; margin: 0 1rem; height: 100%;"
    ></rux-input>
    <p-button icon="pi pi-send" styleClass="p-button-rounded p-button-text"  [rounded]="true"></p-button>
  </div>
</div>