<div style="display: flex; flex-direction: column; justify-content: center;">
  <rux-dialog id="dialog-with-slot" open="visible">
    <span slot="header">Persona</span>
    <div style="display: flex; flex-direction: column; gap:2rem">
      <label>Select a Persona Context</label>
      <p-carousel
        [value]="personaContexts"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="false"
        (onPage)="onPage($event)"
        [page]="currentPage"
    >
        <ng-template let-product pTemplate="item">
          <div class="border-1 surface-border border-round m-2 p-3">
            <div class="label-area">
              {{ product }}
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div slot="footer" style="display: flex; justify-content: end; align-items: center;">
      <div style="display:flex; gap: var(--spacing-2);">
        <rux-button id="cancel" secondary="" (click)="onCancelBtn()">Cancel</rux-button>
        <rux-button id="confirm" (click)="saveSettings()">Confirm</rux-button>
      </div>
    </div>
  </rux-dialog>
</div>
