<div class="chat-box-container">
  <div class="icon-area">
    <p-image
      [src]="isUser ? 'assets/logos/person.svg' : 'assets/logos/OracleLogo.svg'"
      alt="chat-icon"
    />
  </div>
  <ion-card class="chat-box">
    <ion-card-content>
      <div class="message" [innerHTML]="messageFormatted">
      </div>
      <div>
      </div>
      <div *ngIf="references.length > 0" class="ref-area">
       <ion-accordion-group  *ngFor="let reference of referenceArray">
         <app-ref-line [reference]="reference" [refURL]="url" [pageNum]="reference.pageNumber"></app-ref-line>
       </ion-accordion-group>
      </div>
    </ion-card-content>
  </ion-card>
</div>

