<ion-fab slot="fixed" vertical="top" horizontal="end">
  <ion-fab-button #closeOptions >
    <ion-icon name="settings-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button (click)="onPressLLM($event)">
      <ion-icon  name="hardware-chip-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="onPressSettings($event)">
      <ion-icon name="thermometer-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="onPressPersona($event)">
      <ion-icon name="people-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<app-llm *ngIf="isLLMVisible" (onCancel)="isLLMVisible=false"></app-llm>
<app-settings *ngIf="isSettingsVisible" (onCancel)="isSettingsVisible=false"></app-settings>
<app-persona *ngIf="isPersonaVisible" (onCancel)="isPersonaVisible=false"></app-persona>
