ion-fab {
  margin-top: 4rem;
  margin-right: 2rem;
}

ion-fab-button {
  width:4rem;
  height:4rem;
}

ion-fab-button:hover ion-icon{
  color:white!important;
}


.outer{
  position: relative;
  top:0;
  left: 0;
  width:20rem;
  height:20rem;
  background-color:red
}

:host{
  --ion-color-primary: var(--color-background-surface-default);
  --ion-color-light: var(--color-background-surface-default);
}


