/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


@import "primeng/resources/primeng.css";
@import "@astrouxds/tokens/dist/css/index.css";
@import "@astrouxds/tokens/dist/css/classes/typography.css";

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "primeicons/primeicons.css";
@import "primeng/resources/themes/saga-blue/theme.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/* Global CSS (styles.css) or component-specific styles */
.background-image {
  background-image: url('assets/images/ai_space_background.png'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh; /* Sets the height to the full viewport height */
  width: 100%; /* Ensures it spans the full width */
}

/* Optional: Add media queries to tweak the design for different screen sizes */

/* For portrait phones */
@media (max-width: 600px) and (orientation: portrait) {
  .background-image {
    background-size: cover;
    background-position: center top; /* Adjusts position for portrait */
  }
}

/* For landscape phones */
@media (max-width: 600px) and (orientation: landscape) {
  .background-image {
    background-size: contain; /* Ensures the entire image fits */
    background-position: center; /* Centers the image */
  }
}

/* For desktop or larger devices */
@media (min-width: 601px) {
  .background-image {
    background-size: cover;
    background-position: center;
  }
}




// Map Ionic component colors
ion-button {
  --background: var(--button-color-background-primary-default);
  --color: var(--button-color-text-primary);
}

ion-button:hover{
    --background: var(--button-color-background-primary-hover)!important;
}

ion-item {
  --background: var(--color-background-base-default);
  --color: var(--color-text-primary);
}

ion-card{
    --background: var(--color-background-base-default);
    --color: var(--color-text-primary);
}

ion-card-header{
  --background: var(--color-background-base-default);
  --color: var(--color-text-primary);
  font-family: var(--font-heading-1-bold-font-family);
  font-size: var(--font-heading-1-bold-font-size);
  font-weight: var(--font-heading-1-bold-font-weight);
  letter-spacing: var(--font-heading-1-bold-letter-spacing);
  line-height: var(--font-heading-1-bold-line-height);
}

ion-card-title{
  font-family: var(--font-heading-1-bold-font-family);
  font-size: var(--font-heading-1-bold-font-size);
  font-weight: var(--font-heading-1-bold-font-weight);
  letter-spacing: var(--font-heading-1-bold-letter-spacing);
  line-height: var(--font-heading-1-bold-line-height);
}

ion-card-content{
    --background: var(--color-background-base-default);
    --color: var(--color-text-primary);
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    font-weight: var(--font-body-1-font-weight);
    letter-spacing: var(--font-body-1-letter-spacing);
    line-height: var(--font-body-1-line-height);
}
input{
  padding-top:1.5rem!important;
}

 

