.ref-1{
 color: #8A6DC1
}
.ref-2{
 color: #CB7E45
}

.ref-3{
 color: #D1A34E
}

.ref-4{
  color: #5A7F8A
}

.ref-label{
  font-size: 1.75rem
}

.ref-content{
  font-size:1.25rem;
  background-color: #080c11;
;
}

ion-accordion {
  background-color: #101923; /* Set your dark background */
  --background: #101923; /* Ensure Ionic uses the same background */
}

ion-accordion-content {
  background-color: #101923;
}

.link-to-content{
  margin-top:1rem;
  margin-bottom:1rem;
}

.read-more-area{
  cursor: pointer;
  font-style: italic;
  color: var(--color-text-interactive-default);
}

.read-more-area:hover{
  color: var(--color-text-interactive-hover);
}
