<ion-accordion value="first">
  <ion-item slot="header" color="#080c11">
    <ion-label class="ref-label">
      <span [ngClass]="'ref-' + reference.refNum">{{reference.refNum}}</span> : {{reference.filename}}, page {{reference.pageNumber}}
    </ion-label>
  </ion-item>

  <!-- Display formatted content with line breaks -->
  <div class="ion-padding ref-content" slot="content">
    <div [innerHTML]="modContent"></div>
    <!-- Read More Section -->
    <div class="link-to-content">
      <ion-accordion-group>
        <ion-accordion class="read-more-area" (click)="showPDF = !showPDF">
          <ion-item slot="header" color="#080c11">
            <ion-label class="ref-label">Read More
            </ion-label>
          </ion-item>
          <div slot="content">
          <!-- Display PDF when "Read More" is clicked -->
          <object  *ngIf="showPDF && pdfFound" [data]="refURL+ '#toolbar=0&navpanes=0&page=' + pageNum | safeUrl"
                  type="application/pdf" width="100%" height="600px" (load)="onPDFLoad($event)">
          </object>

          <!-- Fallback link if PDF is not valid -->
          <a *ngIf="showPDF &&!pdfFound" class="read-more-area"
             [href]="'https://www.e-publishing.af.mil/Product-Index/#/?view=search&keyword=' + reference.filename.replace('.pdf', '') + '&isObsolete=false' | safeUrl"
             target="_blank">Open Browser to e-publishing.af.mil</a>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </div>
</ion-accordion>
