.content {
  width: 100%;
  max-width: 60rem;
}

.center-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-area{
  background-color: var(--color-background-surface-header);
  width:100%;
  border-radius: 1rem 1rem 0 0;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content-area{
  padding:1rem;
  max-height: 74vh;
  overflow-y: auto;
}

.welcome-card {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.75);
  background-color: var(--color-background-base-default);
  height: 90%;
  border-radius: 1rem;
  margin-right:1rem;
  margin-left:1rem;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.scrollable-content{
  overflow: auto;
  font-size: 1.25rem;
}

.disclaimer{
  font-size: 1rem;
  font-style: italic;
  color: var(--color-text-secondary);
}

.header-area{
  background-color: var(--color-background-surface-header);
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.button-area{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap:1rem;
}
