<div class="background-image full-height center-content">
  <div class="content">
    <div class="welcome-container">
      <div class="welcome-card">
        <div class="top">
        <div class="header-area">
        <div>Welcome to Oracle</div>
        </div>
        <div class="flex-grow-content content-area">
          <div class="scrollable-content">
            <p>Thank you for giving this app a try!</p>
            <p>This software uses AI (AskSage) to attempt to answer USSF and USAF questions utilizing AFIs, AFMANS, Local Supplements, and various DoD Authoritative Publications.</p>
            <p>The app will not only answer DoD related questions, but also provide easily verfiable references for further inquiry and verification.</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <span class="disclaimer">
              <p>WARNING: This responses from this app should not be taken as authoritative truth, if in doubt please continue to research the answer by other means.</p>
              <p>This app is not affiliated with the Department of Defense or any of its branches.</p>
            </span>
          </div>
        </div>
        </div>
        <div class="button-area">
          <rux-button style="flex-grow:1; width:100%" [size]="'large'" secondary="" (click)="moreInfo()">More Information</rux-button>
          <rux-button *ngIf="isLoggedIn" style="flex-grow:1; width:100%" [size]="'large'" (click)="continue()">Continue</rux-button>
          <rux-button *ngIf="!isLoggedIn" style="flex-grow:1; width:100%" [size]="'large'" (click)="back()">Back</rux-button>
        </div>
      </div>
    </div>
  </div>
</div>